
  body {
    background-color: #EAF6F6; }


  hr {
    border-style: dotted;
    width:17%;
    height: 0px;
    border-bottom: 0px;
    border-width:5px;
    border-color: #C0C0C0;}

  h1 {
  color: #66BFBF;}
h3{
  color:#66BFBF}
